script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(type="text/javascript" src="./app.js")
script.
  $('.carousel').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  centerMode: true
  });
