script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(type="text/javascript" src="../owl-carousel/dist/owl.carousel.min.js")
script(type="text/javascript" src="./app.js")
script(type="text/javascript" src="./vue.js")
