head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="../owl-carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" type="text/css")
    link(href="../owl-carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css")
    link(href="https://unpkg.com/vue-loading-overlay@latest/dist/vue-loading.min.css" rel="stylesheet")
    link(href="../css/normalize.css" rel="stylesheet" type="text/css")
    link(href="../css/main.css" rel="stylesheet" type="text/css")
    title Welcome to Leavenworth
