extends ./layout.pug
block content
    #header
      h1 {{ title }}
      img(src="../images/border.jpg" alt="border" class="border")
    #app
    #intro
    #card
    #footer
      p {{ copyright }}
      img(src="../images/border.jpg" alt="border" class="border")
