extends ./layout.pug
block content
    #header
      h1 {{ title }}
      img(src="../images/border.jpg" alt="border" class="border")
    #intro.jumbotron
      h1 Introduction to Leavenworth
      .intro-body
        .paragraph
          p Located in Chelan County in Central Washington, Leavenworth, with a population of about 2,000, would likely be just another city, if not for its town center, modeled on a Bavarian village.  Tucked inside the North Cascades, Leavenworth provides a breathtaking mix of German based culture, scenic views reminiscent of the German Alps, and when not too busy, a peaceful getaway from the hectic life.  Having never been to Leavenworth, but having been to Austria, also to Oregon's Bavarian town, Mt. Angel, I took the journey to Leavenworth to see what all the fuss is about.
          p Two hours east of Seattle, heading towards Leavenworth via the Snoqualmie Pass along I-90, provided me a stark contrast between the stormy west side and the much drier east side.  While heading up US-97 towards Leavenworth, the mountains got more rugged, but still had plenty of green to them.  Eventually, reaching the intersection with US-2, it felt eerily different, almost as if I was really in the German backcountry.  Minutes later, with plenty of others heading into Leavenworth, I finally got the opportunity to enter the European like town center.  Having been to Austria, Leavenworth clearly had the feel of a Bavarian village, but at the same time, clearly had the tourist vibe.
          p While exploring Leavenworth with the crowds felt like a tourist trap, the following morning, while walking in town on an early Monday morning, had a far more peaceful setting, almost as if I was in a German ghost town.  Gone were the tourists left and right, instead was the sound of quietness.  Leaving the town center and walking along the Wenatchee River also provided a peaceful state of mind.  The only thing that ruined that mood was the sign indicating possibly Bear activity on the island in the river.
          p Leaving Leavenworth, I was quickly reminded how unique the area was, as I ventured into the larger city of Wenatchee, which, except for all the references to Apples, felt like your typical dry Eastern Washington town (see Yakima for more details).  There were a few bright spots along the way back, mainly around the Columbia River and the mountains around the oddly charming city of Ellensburg.  In all, a wonderful and unexpected trip to Leavenworth.  Prost!
        .map
          img(src="../images/map.png" alt="map")
    #app
    #card
    #footer
      p {{ copyright }}
      img(src="../images/border.jpg" alt="border" class="border")
