extends ./layout.pug
block content
    #header
      h1#header(v-on:click="changeLanguage") {{ title }}
    #body
      .carousel
        div
          img(src="http://via.placeholder.com/400x300" alt="Leavenworth")
        div
          img(src="http://via.placeholder.com/400x300" alt="Leavenworth")
        div
          img(src="http://via.placeholder.com/400x300" alt="Leavenworth")
        div
          img(src="http://via.placeholder.com/400x300" alt="Leavenworth")
        div
          img(src="http://via.placeholder.com/400x300" alt="Leavenworth")
      p {{paragraph}}
    #card
      div(v-for="card in cards"  v-on:click="toggleLanguage(card)")
        p(v-show="!card.showDetail") {{card.english}}
        p(v-show="card.showDetail") {{card.german}}
    #footer
      p {{ copyright }}

