@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local('Shrikhand Regular'), local('Shrikhand-Regular'), url(https://fonts.gstatic.com/s/shrikhand/v3/a8IbNovtLWfR7T7bMJwrA4KU.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #a86957;
}
#header {
  padding: 10px;
  background-color: #c79a61;
}
#header h1 {
  font-size: 3em;
  font-family: 'Shrikhand', cursive;
  color: white;
  text-shadow: 4px 4px 8px #333333;
}
#footer {
  padding: 10px;
  background-color: #c79a61;
  font-family: 'Shrikhand', cursive;
  color: white;
}
.border {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
#card {
  margin: 30px;
  box-shadow: 4px 4px 8px #23201b;
}
#card h1 {
  font-family: 'Shrikhand', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  background-color: #c79a61;
  box-shadow: 4px 4px 8px #23201b;
}
.jumbotron {
  margin: 30px;
  box-shadow: 4px 4px 8px #23201b;
}
.jumbotron h1 {
  font-family: 'Shrikhand', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  background-color: #c79a61;
  box-shadow: 4px 4px 8px #23201b;
}
.caption {
  position: absolute;
  left: 0;
  bottom: 10px;
  padding: 10px 10px;
  font-size: 14px;
  font-family: 'Shrikhand', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  width: 100%;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: 450px!important;
  margin: 0 auto;
}
.owl-item img {
  opacity: 0.5;
}
.owl-item .caption {
  display: none;
}
.owl-nav {
  margin-top: 0;
}
.center img {
  opacity: 1;
}
.center .caption {
  display: block;
}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  padding-left: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
li {
  list-style-type: none;
  padding: 10px 10px;
  transition: all 0.5s ease;
}
li:nth-child(3n + 0) .card {
  background: url('../images/card1.JPG');
}
li:nth-child(3n + 1) .card {
  background: url('../images/card2.JPG');
}
li:nth-child(3n + 2) .card {
  background: url('../images/card3.JPG');
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 300px;
  font-family: 'Shrikhand', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  border-radius: 20px;
  text-align: center;
  position: relative;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  will-change: transform;
}
.flip-enter-active {
  transition: all 0.4s ease;
}
.flip-leave-active {
  display: none;
}
.flip-enter,
.flip-leave {
  transform: rotateY(180deg);
  opacity: 0;
}
.delete-card {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  opacity: 0.4;
  transition: all 0.5s ease;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.delete-card:hover {
  color: black;
}
.language {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 15px;
  transition: all 0.5s ease;
  font-size: 14px;
}
.owl-theme .owl-nav [class*=owl-] {
  font-size: 36px!important;
  margin: 20px;
  background: #c79a61 !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 2px 2px 4px black;
}
.owl-theme .owl-nav [class*=owl-]:focus {
  outline: none;
}
.invisible {
  display: none;
}
.loading-background {
  background: #a86957!important;
  opacity: 1!important;
}
