//Imports

@import url('https://fonts.googleapis.com/css?family=Shrikhand');

// Variables
@images: '../images';

// Mixins
.card-image-size() {
	width: 300px;
	height: 400px;
}


body {
    font-family: 'Open Sans', sans-serif; 
}
#header {
	padding: 10px;
	background-color: blue;
	h1 {
		font-size: 4em;
		&:hover {
			color: white;
		}
	}
}
#footer {
	padding: 10px;
	background-color: blue;
}
img {
	width: 400px;
	height: 300px;
	opacity: 0.5;
}

#card {
	select {
		display: flex;
		width: 30%;
		margin: 20px;
		option {
			text-transform: capitalize;
		}
	}
	div {
		.card-image-size;
		margin: 20px;
		display: inline-block;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		&:nth-child(3n + 0) {
			background: url('@{images}/card1.JPG');
		}
		&:nth-child(3n + 1) {
			background: url('@{images}/card2.JPG');
		}
		&:nth-child(3n + 2) {
			background: url('@{images}/card3.JPG');
		}		
		p {
			.card-image-size;
			font-family: 'Shrikhand', cursive;
			color: white;
			text-shadow: 2px 2px 4px #000000;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3em;
		}
	}

}

.slick-center img {
	opacity: 1;
}


